<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdr3qsNy2orXtRfAec4neSQLtUn711P_c</string>
	<key>GCM_SENDER_ID</key>
	<string>889327114141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.silme</string>
	<key>PROJECT_ID</key>
	<string>silmebagcalculator</string>
	<key>STORAGE_BUCKET</key>
	<string>silmebagcalculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889327114141:ios:13efe5d1a6dcbfd16f8174</string>
</dict>
</plist>